body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: #cbdceb;
    padding: 20px;
    justify-self: center;
    text-align: center;
}

header {
    background-color: #608bc1;
    padding: 20px;
    width: 100%;
    text-align: center;
}

nav {
    justify-content: flex-start;
    padding: 20px;
}

main {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

bem-vendo {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

sobre-nos {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

servicos {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

contatos {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}